h1{

	font-size:70px;
	color:red;



}
img{

	height:400px;
	width:auto;


}
#ha{

	font-size:50px;
	color:pink;


}
#oh{
	fontsize:30px;
	color:green;
}
html{
	background-color: (66,134,244);
	color: white;
}
